/* answerとquestion共通 */

body {
  background-color: gray;
}

form {
  margin-top: 100px;
  color: white;
  text-align: center;
}

/* answerオンリー */
.container {
  margin-top: 100px;
  color: white;
  text-align: center;
}
