header {
  height: 120px;
  width: 1000px;
  display: flex;
}

img {
  height: 120px;
  width: 200px;
  background-color: #add8e6;
}

.one {
  width: 800px;
  height: 60px;
  background-color: #87ceeb;
}

/* .one p {
  margin: 0;
} */

.two {
  width: 800px;
  height: 60px;
  background-color: #00ffff;
}

.article {
  padding: 10px;
  width: 1000px;
}

table {
  margin: 0 auto;
  width: 800px;
}

th {
  background-color: #87ceed;
}

td {
  height: 20px;
  background-color: #e0ffff;
}
footer {
  width: 1000px;
  height: 50px;
  background-color: #00ced1;
}
