body {
  margin: 0;
  padding: 0;
}
.whole {
  width: 400px;
  height: 450px;
  background-color: red;
}
.top {
  position: relative;
  height: 100px;
  background-color: #141f40;
}
.white {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 160px;
  background-color: white;
  top: 20px;
  left: 220px;
}
.square1 {
  background-color: #a9004b;
  height: 40px;
  width: 40px;
}
.square2 {
  background-color: #a9004b;
  height: 40px;
  width: 40px;
}
.square3 {
  background-color: #a9004b;
  height: 40px;
  width: 40px;
}

.flex1 {
  display: flex;
}
.middle1 {
  height: 250px;
  width: 150px;
  background-color: #80bfa8;
}
.middle2 {
  position: relative;
  height: 250px;
  width: 250px;
  background-color: #8c2727;
}
.child1 {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: white;
  top: 40px;
  left: 40px;
}
.child2 {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: white;
  top: 100px;
  left: 40px;
}
.child3 {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: white;
  top: 160px;
  left: 40px;
}
.grandchild {
  position: absolute;
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  top: 5px;
  left: 5px;
}

.bottom {
  height: 100px;
  background-color: #d98d30;
}
